 <div class="footer-dark mt-5">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h3>I nostri prodotti</h3>
                        <ul>
                            <li><a href="#">Farine</a></li>
                            <li><a href="#">Tipologie di pasta</a></li>
                            <li><a href="#">Alimentari</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h3>Su di noi</h3>
                        <ul>
                            <li><a href="#">La nostra storia</a></li>
                            <li><a href="#">La squadra</a></li>
                            <li><a href="#">Il parco mezzi</a></li>
                        </ul>
                    </div>
 
                </div>
                <p></p>
            </div>
        </footer>
    </div>