<header class="bg-danger mb-5 mt-3 p-3 d-flex justify-content-between align-items-center sticky-top">
            <ul>
                <li><a href="~/Pizza/Index"> Home </a></li>
                <li><a href="~/Pizza/Menu"> Menu </a></li>
                <li><a href="~/Pizza/ChiSiamo"> Chi siamo </a></li>
                <li><a href="/"> Dicono di noi </a></li>
            </ul>
            <a href="~/Pizza/Index"><img style="width:100px;" class="rounded-circle" src="https://img.freepik.com/premium-vector/melting-pizza-logo-pizzeria-restaurant-with-melting-cheese-logo-icon-template_8580-559.jpg"/></a>    
</header>