@{
    Layout = "_MineLayout";
}




<body>

    <h1 class="text-center"> <a href="/Pizza">Vai alle nostre pizze</a> </h1>
    <h1 class="text-center"> <a href="/EserciziRazor">Esercizi Razor</a> </h1>
</body>

