
<main>
        <div class="container d-flex justify-content-between">
      
            <div class="col-12 col-md-5 bg-danger p-5">
                <h2>La nostra storia</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis justo quam. In vehicula condimentum nisl, et consectetur urna commodo quis. Suspendisse potenti. Nullam eget interdum metus. Aenean vel tempus lacus. Nullam et nulla sit amet erat placerat hendrerit. Vivamus euismod magna vitae suscipit lacinia. Suspendisse augue magna, ornare tempus suscipit commodo, consequat at est. Ut fringilla tincidunt eros et volutpat. Mauris et auctor enim. Maecenas cursus, velit ac dignissim egestas, eros felis fringilla risus, vitae euismod dolor dui vel mauris. 
                    In elementum orci dui, congue vehicula metus egestas vitae. Fusce erat lacus, convallis eget risus quis, porta porta quam.</p>
            </div>

            <div style="background-image: url(https://media-assets.lacucinaitaliana.it/photos/61fac9aebe6f37f54cf8d0de/16:9/w_2560%2Cc_limit/pizzeria-popolare.jpg); background-position: center;" class="col-5">

            </div>
        </div>


        <div class="container d-flex justify-content-between mt-5">
      
            <div style="background-image: url(https://media-assets.lacucinaitaliana.it/photos/61fac9aebe6f37f54cf8d0de/16:9/w_2560%2Cc_limit/pizzeria-popolare.jpg); background-position: center;" class="col-5">

            </div>

            <div class="col-12 col-md-5 bg-danger p-5">
                <h2>I nostri prodotti</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis justo quam. In vehicula condimentum nisl, et consectetur urna commodo quis. Suspendisse potenti. Nullam eget interdum metus. Aenean vel tempus lacus. Nullam et nulla sit amet erat placerat hendrerit. Vivamus euismod magna vitae suscipit lacinia. Suspendisse augue magna, ornare tempus suscipit commodo, consequat at est. Ut fringilla tincidunt eros et volutpat. Mauris et auctor enim. Maecenas cursus, velit ac dignissim egestas, eros felis fringilla risus, vitae euismod dolor dui vel mauris. 
                    In elementum orci dui, congue vehicula metus egestas vitae. Fusce erat lacus, convallis eget risus quis, porta porta quam.</p>
            </div>

        </div>

</main>

              

