
<div>
    <h2 class="m-5 text-center">IL NOSTRO FORNO A LEGNA TI ASPETTA</h2>
    <img style="width:100%;"  src="https://www.pezzottaedilizia.com/wp/wp-content/uploads/2017/08/forno-a-legna-header.jpg"/>
</div>


<main class="container">

    <h2 class="m-5 text-center">Dove Siamo</h2>

    <img style="width:100%;"  src="https://www.palazzoesposizioni.it/static/img/pde-mappa.png"/>
     
</main>